AI MULTI AGENT - EVALUTOR OPTIMIZER.json
{
  "name": "AI MULTI AGENT - EVALUTOR OPTIMIZER",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        304
      ],
      "id": "b0307386-b99d-412d-a3f0-a6cd995daebc",
      "name": "When chat message received",
      "webhookId": "fab30ad7-8a5a-4477-be98-1aa43b92b052"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        640
      ],
      "id": "dec422b2-8911-4e40-af67-937c7ce8a427",
      "name": "4o mini",
      "credentials": {
        "openAiApi": {
          "id": "Nu08f9R3JRLEZ6Al",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are an expert biography writer. You will receive information about a person, and your job is to create an entire profile using the information they give you. You are allowed to be creative."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        64,
        304
      ],
      "id": "7dc32f1f-ee05-4a14-951b-b8627da9d5d4",
      "name": "Biography Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the biography:\n{{ $json.bio }}",
        "options": {
          "systemMessage": "=## Overview\nYou are an expert biography evaluator. Your job is to provide feedback on the biography.\n\n## Criteria\n- Make sure the biography includes a quote from the person. This could be their favorite saying or a piece of advice. It is essential that every biography has a quote.\n- Make sure the biography is light and humorous.\n- Make sure the biography has NO emojis.\n\n## Output\nYou only need to output feedback. If the biography is finished and all the criteria are met, simply output \"Finished\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        304
      ],
      "id": "c557938d-5404-46cc-90ed-67be19454c20",
      "name": "Evaluator Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d931f3d-b391-4be9-a50a-cc4a73c31b71",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        304
      ],
      "id": "b99db604-4787-420e-a955-dfe756f1c0d4",
      "name": "Evaluate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Biography: {{ $('Set Bio').item.json.bio }}\n\nFeedback: {{ $('Evaluator Agent').item.json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert biography revisor. Your job is to take the biography and optimize it based on the feedback."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1328,
        384
      ],
      "id": "5a46e828-6d96-468d-8e81-5a0ebea4788e",
      "name": "Optimizer Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1sYC617LjOLStKIxfhJ8LPw6UnR6KoQ4ZeknS54IANHw",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Set Bio').item.json.bio }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1408,
        160
      ],
      "id": "b5d4f093-a2db-4f01-9cf7-8bf191c12460",
      "name": "Push to Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "yRjrY8BgjeM37BPk",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adf17d4d-a89e-4f97-9d31-5e74834428fc",
              "name": "bio",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        304
      ],
      "id": "43afd172-814b-4ad4-8a57-36e612e6ab5d",
      "name": "Set Bio"
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        864,
        640
      ],
      "id": "9cf6d269-9338-4b65-9ae9-d24c33122229",
      "name": "DeepSeek R1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Biography Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Biography Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Optimizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Biography Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Agent": {
      "main": [
        [
          {
            "node": "Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate": {
      "main": [
        [
          {
            "node": "Push to Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bio": {
      "main": [
        [
          {
            "node": "Evaluator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35e1c490-f0d1-46b3-8e30-a15f5967366b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed3baaf95649d47ce5bcd0e82297dfacdd53f0fa69a234e63dd8757fa1d1bf11"
  },
  "id": "qDoJydJPuaVuRmmj",
  "tags": [
    {
      "createdAt": "2025-09-15T20:08:37.447Z",
      "updatedAt": "2025-09-15T20:08:37.447Z",
      "id": "RB3LwpHkVcqoP6ER",
      "name": "EVALUATOR OPTI"
    }
  ]
}