Blog Writing - Prompt Changing Framework.json
{
  "name": "Blog Writing - Prompt Changing Framework",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        544
      ],
      "id": "e53e9bf6-d3ef-4ab2-87a3-e36d869fa8bb",
      "name": "4o mini",
      "credentials": {
        "openAiApi": {
          "id": "Nu08f9R3JRLEZ6Al",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the topic to write a blog about: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "# Overview\nYou are an expert outline writer. Your job is to generate a structured outline for a blog post with section titles and key points."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        272,
        288
      ],
      "id": "8e8a0408-e636-4afa-9a2d-af96b322b5fe",
      "name": "Outline Writer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the outline: \n\n{{ $json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert blog evaluator. Revise this outline and ensure it covers the following key criteria: \n(1) Engaging Introduction \n(2) Clear Section Breakdown\n(3) Logical Flow\n(4) Conclusion with Key Takeaways\n\n## Output\nOnly output the revised outline."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        592,
        288
      ],
      "id": "67294354-a6c2-435c-8401-cec3bc14e436",
      "name": "Outline Evaluation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here if the revised outline: {{ $json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert blog writer. Generate a detailed blog post using the outline with well-structured paragraphs and engaging content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        928,
        288
      ],
      "id": "7ca04506-d559-4c00-81c7-8116095e6efd",
      "name": "Blog Writer"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1WRQoUMYcFCiqtYjmoNcs4BlSzscYmL-VhYCP3ivlit4",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1280,
        288
      ],
      "id": "d564f2a9-dc00-4886-8fde-11927bd5029f",
      "name": "Post to Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "yRjrY8BgjeM37BPk",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1456,
        544
      ],
      "id": "397a03eb-41fd-4b22-93b8-f67d6b40fe4e",
      "name": "DeepSeek R1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        288
      ],
      "id": "27dc3ecb-dd56-40c8-b2f3-77de6fe618e9",
      "name": "When chat message received",
      "webhookId": "8b5d17e6-9356-437e-a97a-4f4027e6451d"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        544
      ],
      "id": "7654b512-a412-4b02-af0f-154114feaa55",
      "name": "2.0 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "DU0BzcFt9iT3d8S5",
          "name": "Google Gemini(PaLM) Api account- ani"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1328,
        544
      ],
      "id": "08a39bca-b0c8-4694-9799-1d0a70ddcee3",
      "name": "Claude 3.5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        928,
        544
      ],
      "id": "1b1dba33-206e-4832-be47-7d28b6a09043",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Nu08f9R3JRLEZ6Al",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Evaluation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outline Writer": {
      "main": [
        [
          {
            "node": "Outline Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Evaluation": {
      "main": [
        [
          {
            "node": "Blog Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Writer": {
      "main": [
        [
          {
            "node": "Post to Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Outline Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude 3.5": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8869a63-fe60-450e-aa94-d18a3740f7c2",
  "meta": {
    "instanceId": "ed3baaf95649d47ce5bcd0e82297dfacdd53f0fa69a234e63dd8757fa1d1bf11"
  },
  "id": "65Ti4ZWItUdEv8TQ",
  "tags": [
    {
      "createdAt": "2025-09-15T14:47:29.569Z",
      "updatedAt": "2025-09-15T14:47:29.569Z",
      "id": "Gsa85vvBhTfEwiLy",
      "name": "Prompt changing"
    }
  ]
}