Multi-Agent Text Analysis System - Parallelization framework.json
{
  "name": "Multi-Agent Text Analysis System - Parallelization framework",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "Analyze the emotional tone of the incoming text. Categorize it as positive, negative, neutral, or mixed. Provide a brief explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        672,
        224
      ],
      "id": "a5d4e889-2f5e-42be-a406-1a2f4e14fad8",
      "name": "Emotion Agent"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Analyze the intent behind this text. Classify it as informational, persuasive, aggressive, or neutral. Provide reasoning."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        672,
        464
      ],
      "id": "119ba265-e447-4924-b9d3-dca29967e042",
      "name": "Intent Agent"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Analyze this text for potential biases. Identify if it exhibits political, gender, racial, or other biases. Suggest ways to make it more neutral."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        672,
        720
      ],
      "id": "0d326c40-498d-4d61-8a5b-58b73d57666c",
      "name": "Bias Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        464
      ],
      "id": "2d5a1560-30a1-498f-a317-c1147e27d9e1",
      "name": "When chat message received",
      "webhookId": "ac25dd9f-b310-4daa-9c49-db68a2433ef1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1216,
        400
      ],
      "id": "56cd2a99-7f7d-445f-b59e-e0154e639c1c",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1440,
        464
      ],
      "id": "be648430-40d1-406f-b486-73685c6edd4b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1600,
        464
      ],
      "id": "87915661-dae5-44ef-a0c8-f720eada9505",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the analysis: \n\n{{ $json.output }}",
        "options": {
          "systemMessage": "Merge the incoming emotional tone, intent, and bias analysis into a structured report. Ensure it is clear, concise, and actionable."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1760,
        464
      ],
      "id": "29ee5d77-a84d-4bd8-a559-8539744dc076",
      "name": "Final Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1cgI3AIjIBotSjw4XIzm7GSwKfWSKPE_m2-ivTklJwA0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2080,
        464
      ],
      "id": "53d81188-f980-4860-87d4-c08242896baa",
      "name": "Write to Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "yRjrY8BgjeM37BPk",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        192,
        896
      ],
      "id": "693d1689-d5c1-4ec7-b443-052a50d73686",
      "name": "DeepSeek R1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        800
      ],
      "id": "97bf7d4c-434e-44c9-adc1-0270246f2fbf",
      "name": "4o mini",
      "credentials": {
        "openAiApi": {
          "id": "Nu08f9R3JRLEZ6Al",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1744,
        704
      ],
      "id": "91deaa00-77b7-4d70-afb9-04b2e467d32d",
      "name": "4o_mini",
      "credentials": {
        "openAiApi": {
          "id": "Nu08f9R3JRLEZ6Al",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Emotion Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intent Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bias Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emotion Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Bias Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Final Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Agent": {
      "main": [
        [
          {
            "node": "Write to Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Emotion Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Bias Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "4o_mini": {
      "ai_languageModel": [
        [
          {
            "node": "Final Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5180110-711a-4918-b1ba-46a5ffb6668b",
  "meta": {
    "instanceId": "ed3baaf95649d47ce5bcd0e82297dfacdd53f0fa69a234e63dd8757fa1d1bf11"
  },
  "id": "Wb2dBLGZk6dwdcrq",
  "tags": [
    {
      "createdAt": "2025-09-15T20:05:45.505Z",
      "updatedAt": "2025-09-15T20:05:45.505Z",
      "id": "weZkj857h96An4Zd",
      "name": "PARALLELIZATION"
    }
  ]
}