NEWS AI Anchor - AI clone.json
{
  "name": "NEWS AI Anchor - AI clone",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        704,
        720
      ],
      "id": "2dc0d377-be09-4222-8acb-ea03ed3eec33",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"ac13dd5a00e349a59861b5ff1b424e3a\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"AI is transforming how we work. From automating data analysis to creating content, AI handles the repetitive stuff so humans can focus on creativity and strategy. I've been building workflows that scrape news, write scripts, send emails, book meetings, provide customer support and even generate videos automatically.\nYou know what's really crazy though? This technology isn't some distant future concept. It's happening right now. There are AI systems running 24/7, creating content while you sleep, analyzing market trends faster than entire human teams, making decisions that used to require boardroom meetings.\nBut here's where it gets interesting. The future of work isn't about replacing humans at all. It's about amplifying what we can achieve. It's about taking those boring, repetitive tasks and letting machines handle them so humans can focus on the stuff that actually matters. Strategy. Innovation. Creative problem-solving.\nAnd speaking of creative problem-solving, I have a confession to make.\nThis entire script you're listening to? Written by AI. This voice? Generated by artificial intelligence. This video? Created by a machine. You've been watching an AI talk about AI this whole time.\nI am the AI I've been talking about.\",\n        \"voice_id\": \"ea8c958ac1ed490ab33dd1a54d5b5cbb\",\n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        384
      ],
      "id": "9c96a700-d7ca-49ab-9a5b-bf52a959e5ee",
      "name": "Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CnbHbvGmCuvkHPSp",
          "name": "HeyGen Demo"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        384
      ],
      "id": "ae7ebfbf-0eaf-48cf-b298-4d272826dace",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CnbHbvGmCuvkHPSp",
          "name": "HeyGen Demo"
        }
      }
    },
    {
      "parameters": {
        "content": "# Create Video\n",
        "height": 300,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        288
      ],
      "id": "72b06851-a86f-4294-a5ae-735e40ad0d23",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"respectRobotsTxtFile\": true,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"https://www.morningbrew.com/issues/latest\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        720
      ],
      "id": "248dff27-c892-4ab0-92c9-17bc9045428e",
      "name": "News",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KcBYTaRqZ6VC1Z29",
          "name": "Apify ani"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=### 📢 System Prompt: Morning Brew Video Recap Script Generator\n\nYou are a sharp, engaging scriptwriter AI who specializes in converting daily newsletter content into **fast-paced, digestible news recaps** for short-form video. You will be given the full text of a *Morning Brew* issue. Your job is to create a **concise 10–20 second script** (around 40–60 words) summarizing **the top 2–4 most important stories** in an **engaging, headline-driven tone** that sounds natural when spoken aloud.\n\n---\n\n### ✅ Core Requirements:\n- Output a **single paragraph** written for **spoken delivery**, not robotic narration.\n- Cover **only the top 2–4 stories** with the widest impact or highest interest.\n- Use a **punchy, conversational tone** — brief but informative.\n- Do **not include** intros, outros, or calls to action.\n- Keep the total script under **20 seconds of spoken content** (~40–60 words).\n\n---\n\n### 🗣️ Style Example:\n\n\"Stocks jumped after inflation cooled again in April, TikTok sued the US government over its forced sale law, and McDonald’s is dropping AI drive-thrus after too many sauce mishaps.\"\n\n---\n\n### 💡 Notes:\n- Prioritize clarity and relevance.\n- Avoid niche stories unless they’re especially compelling or viral.\n- Think of the recap as something someone could say on a podcast or short TikTok video.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1024,
        720
      ],
      "id": "4a4e89bc-3628-466c-88f8-b6698e162ce3",
      "name": "Script Writer"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1024,
        880
      ],
      "id": "bb6b3af3-9f5b-4825-ac02-afd9aea1cc8b",
      "name": "GPT 4.1 Mini",
      "credentials": {
        "openRouterApi": {
          "id": "kSfRFeANulYkRwM9",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Generate Video1').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        960
      ],
      "id": "17a99bd6-d0ec-4539-9ad4-0a69a4443592",
      "name": "Get Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CnbHbvGmCuvkHPSp",
          "name": "HeyGen Demo"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        960
      ],
      "id": "4c2ddf03-aff4-4c91-9113-53a045283067",
      "name": "30 Seconds",
      "webhookId": "c6346cbc-9d67-4868-80a4-bfc927f0830a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd44e8b9-64ae-4a91-8d19-966910447f71",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        960
      ],
      "id": "7ac3ed1b-6146-4276-8434-84d1d1a686fe",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        960
      ],
      "id": "76d1530d-db6a-4aab-82f3-f74cc9ad1636",
      "name": "Wait",
      "webhookId": "9f7623f7-6605-4455-a927-09b536ee9e99"
    },
    {
      "parameters": {
        "content": "# Get Video\n",
        "height": 300,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        288
      ],
      "id": "3d04e52e-277c-449d-9f2d-2e8afb6e4ca3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"ac13dd5a00e349a59861b5ff1b424e3a\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.output }}\",\n        \"voice_id\": \"ea8c958ac1ed490ab33dd1a54d5b5cbb\",\n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        720
      ],
      "id": "d6880db2-1792-4b18-9f9e-da526eafde90",
      "name": "Generate Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CnbHbvGmCuvkHPSp",
          "name": "HeyGen Demo"
        }
      }
    }
  ],
  "pinData": {
    "News": [
      {
        "json": {
          "url": "https://www.morningbrew.com/issues/latest",
          "crawl": {
            "loadedUrl": "https://www.morningbrew.com/issues/latest",
            "loadedTime": "2025-09-22T05:54:14.380Z",
            "referrerUrl": "https://www.morningbrew.com/issues/latest",
            "depth": 0,
            "httpStatusCode": 200
          },
          "metadata": {
            "canonicalUrl": "https://www.morningbrew.com/issues/latest",
            "title": "Latest Issue | Morning Brew",
            "description": "Sep 21st, 2025 - How to turn your passion project into cash...",
            "author": null,
            "keywords": null,
            "languageCode": "en-us",
            "openGraph": [
              {
                "property": "og:type",
                "content": "website"
              },
              {
                "property": "og:image:alt",
                "content": "Morning Brew Logo"
              },
              {
                "property": "og:image:width",
                "content": "1200"
              },
              {
                "property": "og:image:height",
                "content": "630"
              },
              {
                "property": "og:locale",
                "content": "en_US"
              },
              {
                "property": "og:site_name",
                "content": "Morning Brew"
              },
              {
                "property": "og:title",
                "content": "Latest Issue"
              },
              {
                "property": "og:description",
                "content": "Sep 21st, 2025 - How to turn your passion project into cash..."
              },
              {
                "property": "og:url",
                "content": "https://www.morningbrew.com/issues/latest"
              },
              {
                "property": "og:image",
                "content": "https://storage.morningbrew.com/image/2025-09-19/image-89bf3862fd19d6bee71c10fadd65e98c35a187e6-3000x3750-png/MB-hobbies-SophiaFoster-Domino-final.webp"
              },
              {
                "property": "twitter:url",
                "content": "https://www.morningbrew.com/daily"
              }
            ],
            "jsonLd": null,
            "headers": {
              "date": "Mon, 22 Sep 2025 05:54:00 GMT",
              "content-type": "text/html; charset=utf-8",
              "content-encoding": "gzip",
              "age": "724",
              "cache-control": "public, max-age=0, must-revalidate",
              "strict-transport-security": "max-age=63072000",
              "x-matched-path": "/issues/latest",
              "x-powered-by": "Next.js",
              "x-vercel-cache": "HIT",
              "x-vercel-id": "cle1::cle1::dkrjq-1758520440905-04599ae7ecf9",
              "cf-cache-status": "DYNAMIC",
              "vary": "accept-encoding",
              "set-cookie": "__cf_bm=DZgKcw7aTdVQ2NPNbtru7PByoqS4cLmkZhatUPED0gY-1758520440-1.0.1.1-o98vKhmrGcYQZpwv6WKKxtesZJIWmJmOrqtrlzL_9h4RQRrcvWx3ZVZT6E2OUVkuJIXA_Of9sY9poX8iKYCzzpVjMhh5psIslZqYWnLRl3s; path=/; expires=Mon, 22-Sep-25 06:24:00 GMT; domain=.morningbrew.com; HttpOnly; Secure; SameSite=None",
              "server": "cloudflare",
              "cf-ray": "982f8b933ecaebb5-YYZ",
              "alt-svc": "h3=\":443\"; ma=86400",
              "x-firefox-spdy": "h2"
            }
          },
          "screenshotUrl": null,
          "text": "Latest Issue | Morning Brew\nSophia Foster-Domino \nEDITOR’S NOTE\nGood morning. Hobbies can enrich your life—and not just by providing entertainment and a creative outlet. Today, we’re looking at what it takes to turn your passion projects into cold hard cash, from the pastimes that can transform into small businesses, to the big businesses that make bank on small-time makers’ outputs. We’ll also consider some of the challenges involved, but if nothing else, you can at least hope to have the same “hobbies and interests” as the person interviewing you for your next job.\nRETAIL\nQ&A: How do you turn a hobby into a business? \nRuby Gold\nAfter a childhood “filled with art,” 25-year-old Ruby Gold says she studied nutrition and chemistry in college because the creative path didn’t seem like a realistic career option. As someone who now makes a living designing and selling clothes, she ultimately proved herself wrong.\nGold runs Orchard, an indie NYC brand specializing in collage-style printed garments and accessories, with pieces broadly ranging from $45 to $115. She spoke with Morning Brew about how she turned her passion project into a business.\nThis conversation has been edited for length and clarity.\nHow did you get into clothing design?\nI got a job at a textile-dyeing studio—we would do screen printing and fabric dyeing. It changed my whole perspective. I started making upcycled vintage pieces.\nI would get slip dresses and print on those, pull up a rack to a park and be there from 6am to 9pm. I would make like $1,000 in a day and sell out of my stuff. I really wasn’t expecting it to turn into a business, but there was a desire for it, so I ran with it. I was able to start doing this full-time after my first year.\nWhat were the early days like?\nI was working three other freelance jobs, so I’d come home and sometimes be up until 3am doing physical production and working on social media posts for Orchard. Then I would street vend the next day.\nI started making collage tank tops, and my Instagram Story sales would sell out in 10 minutes. At that point, I had around 1,000 followers. Then an influencer bought something from me. I had never gotten that many notifications before.\nHow have you expanded since then?\nI don’t do street vending anymore. I started traveling to sell at craft markets. Recently, I started dipping my toes in production and manufacturing because I’ve been making everything myself for the past three years. I hired my first assistant, and I got a studio two months ago for production, teaching classes, and shopping appointments.\nWhat advice do you have for turning a hobby into a career?\nDon’t compare yourself to anything that you’re seeing on the internet, or to what your friends might be doing. There’s a market for everyone.\nA lot of this has just been me teaching myself and learning from my mistakes. But I’m so happy. I feel like a kid in a candy store.—As told to ML\n\t\n\t\nPresented By CIT Bank\nLet your money earn\nSome things just make 🤌 sense: ordering cold brew in July, skipping TV show intros, and letting your money earn instead of sitting idle.\nThat’s where the Platinum Savings account from CIT Bank can help. How? By allowing your money to grow at a rate higher than the national average.1 Why? Because you deserve above-average rates.2\nAnd as your money taps into growth potential in the Platinum Savings account, you can have peace of mind knowing it’s FDIC-insured. CIT’s mobile banking app offers convenience, and there are no opening or monthly fees.\nHelp give your savings a growth spurt with CIT Bank. Sign up in minutes.\nSOCIAL MEDIA\nThe creators with very public hobbies \n@kateglavan/YouTube\nSometimes, it’s not about the destination, it’s about the content you create on how to optimize your time spent on the journey and grow your audience. The internet not only demands you post your weird little crafts or triathlon medals, it also wants you to package up your processes and post about how you did it.\nBut it can be a crowded market with low payouts. YouTube said it spent over $100 billion in the last four years paying creators, but a lot of that money was likely concentrated at the top. And that’s not just on YouTube: Last year, less than 6% of creators earned more than $200,000 across platforms, according to a survey from Influencer Marketing Hub. About half of the creators surveyed reported earning less than $15,000.\nA Twitch hack in 2021 exposed Twitch’s top 10,000 highest-paid earners, including the massive salaries netted by a few top streamers. But it also revealed that about 25% of the “top earners’ list” didn’t even make minimum wage. For newcomers, investing years into building a following in today’s oversaturated ecosystem could equate to a payout on par with a part-time job.\nThis doesn’t seem to be stopping the next generation of creators\nAbout a third of Gen Alpha kids surveyed this year want to be YouTubers, with 1 in 5 hoping to become TikTok creators.\nAnd it’s hard to find a hobby unexplored by a six-part TikTok series. If you’re looking to fill your own free time, here are some of our current favorite hobby creators:\nIt doesn’t matter if you play piano or not; it’s awesome to watch the Piano Doctor take all the crud out.\nHave you ever shed a tear watching a Warhammer painting tutorial?\nA step-by-step guide to launching an online art shop.\nSome inspiration for repurposing your old denim.\nThere’s still time to make this mask for Halloween…\nAnd a little something for you if you’re on that marathon grind.—MM\n\t\n\t\nFASHION\nThe kids are hemming \nMaxcab/Getty Images\nThe likelihood that one of your friends could hem your pants for you has never been higher. Sewing has become “cool” again, according to the New York Times, with classes filling up faster than they can be offered and TikToks about pinned hems snagging over 11 million views.\nMending, hemming, and altering are especially popular among Gen Zers who hope to pick up a hobby that forces them off their phones—and saves them money by teaching them valuable skills. And sharing a well-edited “thrift flip”—a genre of sewing video where people transform old bedsheets or shapeless cardigans into trendy outfits—is also a surefire way to go viral on any platform.\nThe upcycled fashion market is growing. Including everything from sustainable fashion brands to companies that recycle materials, the market was worth $8.54 billion last year and is expected to grow to roughly $20.65 billion by 2034, according to Precedence Research.\nBig picture: Other traditional textile art like crocheting, knitting, and embroidery have popped off among Gen Zers, following a surge in crafting during the pandemic era, when people needed something to do with their hands.—MM\n\t\n\t\nTogether With Verizon\nGame day never felt so sweet. Verizon’s Fios and 5G home networks are fast and reliable—you might’ve heard that already. But what you haven’t heard is this: New customers on both Fios and 5G home premium internet plans can score NFL Sunday Ticket access when they sign up. Get connected.\nLOGISTICS\nIt’s not a great time to have a hobby \nPancake Pictures/Getty Images\nIf your hobby involves ordering something from overseas, there’s a chance it’s feeling more like a job these days. That’s because tariffs are affecting prices and shipping procedures, impacting multiple industries that are supposed to be helping people decompress from the workday.\nPutting a price tag on fun: Need some new gloves for gardening? Thread for sewing? Dice for rolling? If any of it comes from another country (and it often does), you may also be importing a headache. That’s partly because last month, the de minimis exemption, which allowed products worth $800 or less to enter the US duty-free, ended at the Trump administration’s direction.\nThings got so confusing that many countries stopped shipments to the US to get a handle on how to process them, giving woodworkers, gamers, and knitters a puzzle to do, too.\nChanging winds: Then, there’s the fact that tariff rates have been changing rapidly this year.\nFor example, Texas retiree Frank Vaughan wanted some new sails for his boat. According to the New York Times:\nIn February, a Chinese company he contacted wanted about $400 per sail.\nA few weeks later, the price went up to $1,200 each.\nAn American company, which sourced its sailcloths from China, quoted him at about $800 per sail—but he would have to wait six to eight months.\nHe ended up buying used sails for $236 each.\nBig picture: The new tariff reality is also affecting the platforms where hobbyists peddle their wares. Etsy and eBay have both warned investors that the end of de minimis could impact business.—BC\n\t\n\t\nE-COMMERCE\nMaking money off of other people’s hobbies \nSopa Images/Getty Images\nIt’s a good time to cash in on pastimes, especially for the online marketplaces keeping the whole ecosystem afloat. Companies like Etsy have made billions of dollars by helping creative entrepreneurs sell everything from soap dishes to flavored toothpicks.\nWhosits and whatsits galore: Twenty years after being founded, Brooklyn-based Etsy is a $6 billion testament to the power of handmade goods. The company charges a fee to list on the site and then takes a cut of the final sale, whether it be a purse with a bird on it or a postmodern painting…with a bird on it.\nAccording to Capital One Shopping data, in 2024, Etsy had:\nMore than $2.8 billion in annual global revenue.\n95.5 million active buyers.\nMore than 8 million sellers—80% of whom are identified as women.\nHandmade-to-handmade combat: It’s not just Etsy connecting artisans with buyers. Sites like eBay, Amazon Handmade, MakerPlace by Michaels, and Goimagine all offer sales opportunities for creative types.\nThe AI of it all\nAs the competition heats up—and growth slows—Etsy and eBay have turned to AI to keep their edge, the Wall Street Journal reported. Etsy is using large language models to juice its data collection efforts and improve product recommendations. And eBay has been using AI imagery to inspire more purchases. For example, if you buy a shirt, AI will generate images of pants, then link to similar items. Both marketplaces are using AI to make it easier to browse through their vast artisan inventories.\nAnd it’s not just to make it easier to buy: The companies also created AI tools to help sellers cut down on repetitive tasks, like answering buyers’ questions, so the creators will have more time to actually create things (that can be sold on Etsy and eBay).—BC\n\t\n\t\nTogether With Pendulum\nFire up your metabolism. Protect your gut barrier and give your GLP-1 a natural boost* with Pendulum Akkermansia. Pendulum Akkermansia features live Akkermansia muciniphila, a breakthrough strain that helps fortify the gut barrier, support balanced digestion, and improve metabolism.* Check it out.\nBREW'S BEST\nHost: A must-have for any Halloween party.**\nDIY: Starter kits for embroidery, rug-making, and other crafts.\nWatch: How to become a magician in three weeks.\nCook: Peel your ginger with a spoon, and 23 other kitchen tricks.\nGrow: Plot the garden of your dreams with a drag-and-drop visualizer.\nBrowse: Redditors’ favorite hobbies.\nNo interest until ’27: Your side hustle can be just your hobby again with a 0% intro APR card. FinanceBuzz’s credit card experts found top options to help you ditch high interest.*\nFinancial flux: MFS helps you make heads and tails of the shifting macroeconomic environment of 2025.*\n*A message from our sponsor. **This is a product recommendation from our writers. When you buy through this link, Morning Brew may earn a commission.\n✢ A Note From CIT Bank\n1. Based on comparison to the national average Annual Percentage Yield (APY) on savings accounts as published in the FDIC National Rates and Rate Caps, accurate as of August 18, 2025.\n2. Platinum Savings is a tiered interest rate account. Interest is paid on the entire account balance based on the interest rate and APY in effect that day for the balance tier associated with the end-of-day account balance. APYs — Annual Percentage Yields are accurate as of June 12, 2025: 0.25% APY on balances of $0.01 to $4,999.99; 4.00% APY on balances of $5,000.00 or more. Interest Rates for the Platinum Savings account are variable and may change at any time without notice. The minimum to open a Platinum Savings account is $100.\n✳︎ A Note From Pendulum\n*Based on preclinical studies. Not intended for weight loss.",
          "markdown": "# Latest Issue | Morning Brew\n\n[![Morning Brew](https://cdn.sanity.io/images/bl383u0v/production/8f8f30e5ed5e84eb3a9973361ce854dcf8546f53-1350x330.png?w=900&fit=max)](https://links.morningbrew.com/c/BK0?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n![A woman surrounded by items for hobbies](https://morningbrew.com/cdn-cgi/image/width=1240,format=auto/https://storage.morningbrew.com/image/2025-09-19/image-89bf3862fd19d6bee71c10fadd65e98c35a187e6-3000x3750-png/MB-hobbies-SophiaFoster-Domino-final.png)\n\n_Sophia Foster-Domino_\n\n### EDITOR’S NOTE\n\n**Good morning.** Hobbies can enrich your life—and not just by providing entertainment and a creative outlet. Today, we’re looking at what it takes to turn your passion projects into cold hard cash, from the pastimes that can transform into small businesses, to the big businesses that make bank on small-time makers’ outputs. We’ll also consider some of the challenges involved, but if nothing else, you can at least hope to have the same “hobbies and interests” as the person interviewing you for your next job.\n\n### RETAIL\n\n## [Q&A: How do you turn a hobby into a business?](https://links.morningbrew.com/c/EWy?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n[![Colorful clothing for sale on a table and rack on the sidewalk](https://morningbrew.com/cdn-cgi/image/width=1240,format=auto/https://storage.morningbrew.com/image/2025-09-19/image-d63da76000d8c859bb6c470e5e28545de5d3e6e6-2142x1674-jpg/IMG_0270(1).jpg)](https://links.morningbrew.com/c/EWy?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n_Ruby Gold_\n\n|     |\n| --- |\n| After a childhood “filled with art,” 25-year-old Ruby Gold says she studied nutrition and chemistry in college because the creative path didn’t seem like a realistic career option. As someone who now makes a living designing and selling clothes, she ultimately proved herself wrong.<br><br>Gold runs [Orchard](https://links.morningbrew.com/c/EWz?mblid=d2eb77eb9906&mbnlid=R36XrCPyutGnJHi5mD6RJm), an indie NYC brand specializing in collage-style printed garments and accessories, with pieces broadly ranging from $45 to $115. She spoke with Morning Brew about how she turned her passion project into a business.<br><br>_This conversation has been edited for length and clarity._<br><br>**How did you get into clothing design?**<br><br>I got a job at a textile-dyeing studio—we would do screen printing and fabric dyeing. It changed my whole perspective. I started making upcycled vintage pieces.<br><br>I would get slip dresses and print on those, pull up a rack to a park and be there from 6am to 9pm. I would make like $1,000 in a day and sell out of my stuff. I really wasn’t expecting it to turn into a business, but there was a desire for it, so I ran with it. I was able to start doing this full-time after my first year.<br><br>**What were the early days like?**<br><br>I was working three other freelance jobs, so I’d come home and sometimes be up until 3am doing physical production and working on social media posts for Orchard. Then I would street vend the next day.<br><br>I started making collage tank tops, and my Instagram Story sales would sell out in 10 minutes. At that point, I had around 1,000 followers. Then an influencer bought something from me. I had never gotten that many notifications before.<br><br>**How have you expanded since then?**<br><br>I don’t do street vending anymore. I started traveling to sell at craft markets. Recently, I started dipping my toes in production and manufacturing because I’ve been making everything myself for the past three years. I hired my first assistant, and I got a studio two months ago for production, teaching classes, and shopping appointments.<br><br>**What advice do you have for turning a hobby into a career?**<br><br>Don’t compare yourself to anything that you’re seeing on the internet, or to what your friends might be doing. There’s a market for everyone.<br><br>A lot of this has just been me teaching myself and learning from my mistakes. But I’m so happy. I feel like a kid in a candy store._—As told to ML_ |\n|     |\n\n### Presented By CIT Bank\n\n## [**Let your money earn**](https://links.morningbrew.com/c/EZC?lp=title&mbadid=973c71f657122a6fb6ad8e301cb87dca&mbadv=a&mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n[](https://links.morningbrew.com/c/EZC?lp=image&mbadid=973c71f657122a6fb6ad8e301cb87dca&mbadv=a&mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\nSome things just make 🤌 sense: ordering cold brew in July, skipping TV show intros, and letting your money earn instead of sitting idle.\n\nThat’s where the Platinum Savings account from CIT Bank can help. How? By allowing your money to grow at a rate [higher than the national average](https://links.morningbrew.com/c/EZC?lp=text1&mbadid=973c71f657122a6fb6ad8e301cb87dca&mbadv=a&mblid=ca27a33891e4&mbnlid=R36XrCPyutGnJHi5mD6RJm).1 Why? Because you deserve above-average rates.2\n\nAnd as your money taps into growth potential in the Platinum Savings account, you can have peace of mind knowing it’s FDIC-insured. CIT’s mobile banking app offers convenience, and there are [no opening or monthly fees](https://links.morningbrew.com/c/EZC?lp=text2&mbadid=973c71f657122a6fb6ad8e301cb87dca&mbadv=a&mblid=4c60e525424b&mbnlid=R36XrCPyutGnJHi5mD6RJm).\n\nHelp give your savings a growth spurt with CIT Bank. [Sign up in minutes](https://links.morningbrew.com/c/EZC?lp=text3&mbadid=973c71f657122a6fb6ad8e301cb87dca&mbadv=a&mblid=466de75c9690&mbnlid=R36XrCPyutGnJHi5mD6RJm).\n\n### SOCIAL MEDIA\n\n## [The creators with very public hobbies](https://links.morningbrew.com/c/EX0?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n[![London Marathon race recap YouTube main image from Kate Glavan](https://morningbrew.com/cdn-cgi/image/width=1240,format=auto/https://storage.morningbrew.com/image/2025-09-19/image-50893dce4faf60d346b6e308da2d460ba9fe34b0-1280x720-jpg/marathon.jpg)](https://links.morningbrew.com/c/EX0?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n_@kateglavan/YouTube_\n\n|     |\n| --- |\n| Sometimes, it’s not about the destination, it’s about the content you create on how to optimize your time spent on the journey and grow your audience. The internet not only demands you post your weird little crafts or triathlon medals, it also wants you to package up your processes and post about _how_ you did it.<br><br>**But it can be a crowded market with low payouts.** YouTube said it spent over [$100 billion](https://links.morningbrew.com/c/EX1?mblid=e28a74517f51&mbnlid=R36XrCPyutGnJHi5mD6RJm) in the last four years paying creators, but a lot of that money was likely concentrated at the top. And that’s not just on YouTube: Last year, less than 6% of creators earned more than $200,000 across platforms, according to a survey from Influencer Marketing Hub. About half of the creators surveyed reported earning less than $15,000.<br><br>A Twitch hack in 2021 [exposed](https://links.morningbrew.com/c/EX2?mblid=e56e75b69054&mbnlid=R36XrCPyutGnJHi5mD6RJm) Twitch’s top 10,000 highest-paid earners, including the massive salaries netted by a few top streamers. But it also revealed that about 25% of the “top earners’ list” didn’t even make minimum wage. For newcomers, investing years into building a following in today’s oversaturated ecosystem could equate to a payout on par with a part-time job.<br><br>## **This doesn’t seem to be stopping the next generation of creators**<br><br>About a third of Gen Alpha kids [surveyed](https://links.morningbrew.com/c/EX3?mblid=54f50b66678b&mbnlid=R36XrCPyutGnJHi5mD6RJm) this year want to be YouTubers, with 1 in 5 hoping to become TikTok creators.<br><br>And it’s hard to find a hobby unexplored by a six-part TikTok series. If you’re looking to fill your own free time, here are some of our current favorite hobby creators:<br><br>*   It doesn’t matter if you play piano or not; it’s awesome to watch the [Piano Doctor](https://links.morningbrew.com/c/EX4?mblid=797c29db2054&mbnlid=R36XrCPyutGnJHi5mD6RJm) take all the crud out.<br>*   Have you ever shed a tear watching a [_Warhammer_ painting tutorial](https://links.morningbrew.com/c/EX5?mblid=3f19fad42e7e&mbnlid=R36XrCPyutGnJHi5mD6RJm)?<br>*   A [step-by-step guide](https://links.morningbrew.com/c/EX6?mblid=31d117a4c485&mbnlid=R36XrCPyutGnJHi5mD6RJm) to launching an online art shop.<br>*   Some [inspiration](https://links.morningbrew.com/c/EX7?mblid=4bb4e58d43fe&mbnlid=R36XrCPyutGnJHi5mD6RJm) for repurposing your old denim.<br>*   There’s still time to make this [mask](https://links.morningbrew.com/c/EX8?mblid=768c71fe9dca&mbnlid=R36XrCPyutGnJHi5mD6RJm) for Halloween…<br>*   And a little something for you if you’re on that [marathon](https://links.morningbrew.com/c/EX9?mblid=96f32385769b&mbnlid=R36XrCPyutGnJHi5mD6RJm) [grind](https://links.morningbrew.com/c/EXa?mblid=c9737292bfd6&mbnlid=R36XrCPyutGnJHi5mD6RJm)._—MM_ |\n|     |\n\n### FASHION\n\n## [The kids are hemming](https://links.morningbrew.com/c/EXe?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n[![sewing/thread/quilting](https://morningbrew.com/cdn-cgi/image/width=1240,format=auto/https://storage.morningbrew.com/image/2025-09-19/image-d36bc9ac78321399b34cc3d42c3d3b9dbe48eea0-8256x5504-jpg/Colorfuldetailofquiltsewnfromsquarepiecesonsewingmachine,quiltingandsewingaccessories)](https://links.morningbrew.com/c/EXe?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n_Maxcab/Getty Images_\n\n|     |\n| --- |\n| The likelihood that one of your friends could hem your pants for you has never been higher. Sewing has become “cool” again, according to [the New York Times](https://links.morningbrew.com/c/EXf?mblid=dcc996c3d55e&mbnlid=R36XrCPyutGnJHi5mD6RJm), with classes filling up faster than they can be offered and TikToks about [pinned hems](https://links.morningbrew.com/c/EXg?mblid=c6b5f8c30d07&mbnlid=R36XrCPyutGnJHi5mD6RJm) snagging over 11 million views.<br><br>Mending, hemming, and altering are especially popular among Gen Zers who hope to pick up a hobby that forces them off their phones—and saves them money by teaching them valuable skills. And sharing a well-edited “thrift flip”—a genre of sewing video where people transform [old bedsheets](https://links.morningbrew.com/c/EXh?mblid=33386b32909c&mbnlid=R36XrCPyutGnJHi5mD6RJm) or [shapeless cardigans](https://links.morningbrew.com/c/EXi?mblid=81f1b20c1832&mbnlid=R36XrCPyutGnJHi5mD6RJm) into trendy outfits—is also a surefire way to go viral on any platform.<br><br>**The upcycled fashion market is growing.** Including everything from sustainable fashion brands to companies that recycle materials, the market was worth $8.54 billion last year and is expected to grow to roughly $20.65 billion by 2034, according to Precedence Research.<br><br>**Big picture:** Other traditional textile art like crocheting, [knitting](https://links.morningbrew.com/c/EXj?mblid=8670f6571db6&mbnlid=R36XrCPyutGnJHi5mD6RJm), and [embroidery](https://links.morningbrew.com/c/EXk?mblid=fbc2ad59c7be&mbnlid=R36XrCPyutGnJHi5mD6RJm) have popped off among Gen Zers, following a surge in crafting during the pandemic era, when people needed something to do with their hands._—MM_ |\n|     |\n\n### Together With Verizon\n\n[](https://links.morningbrew.com/c/EWw?lp=image&mbadid=74e96efeb82237b993682b45d5eda5fb&mbadv=a&mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n**Game day never felt so sweet.** Verizon’s Fios and 5G home networks are fast and reliable—you might’ve heard that already. But what you haven’t heard is this: New customers on both [Fios and 5G home premium internet plans](https://links.morningbrew.com/c/EWw?lp=text1&mbadid=74e96efeb82237b993682b45d5eda5fb&mbadv=a&mblid=ad1e33a225aa&mbnlid=R36XrCPyutGnJHi5mD6RJm) can score NFL Sunday Ticket access when they sign up. [Get connected](https://links.morningbrew.com/c/EWw?lp=text2&mbadid=74e96efeb82237b993682b45d5eda5fb&mbadv=a&mblid=bb68fd768cf5&mbnlid=R36XrCPyutGnJHi5mD6RJm).\n\n### LOGISTICS\n\n## [It’s not a great time to have a hobby](https://links.morningbrew.com/c/EYc?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n[![A box with \"Made in China\" on it.](https://morningbrew.com/cdn-cgi/image/width=1240,format=auto/https://storage.morningbrew.com/image/2025-09-19/image-3b5fe16bd1ea1c854aa69f1b420e37731c89aa94-8256x5504-jpg/CardboardboxeswithblacktextdisplayingMadeinChinaandmeasurements,stackedinawarehousesetting)](https://links.morningbrew.com/c/EYc?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n_Pancake Pictures/Getty Images_\n\n|     |\n| --- |\n| If your hobby involves ordering something from overseas, there’s a chance it’s feeling more like a job these days. That’s because tariffs are affecting prices and shipping procedures, impacting multiple industries that are _supposed_ to be helping people decompress from the workday.<br><br>**Putting a price tag on fun:** Need some new gloves for gardening? Thread for sewing? Dice for rolling? If any of it comes from another country (and it often does), you may also be importing a headache. That’s partly because last month, the de minimis exemption, which allowed products worth $800 or less to enter the US duty-free, ended at the Trump administration’s direction.<br><br>Things got so confusing that many countries stopped shipments to the US to get a handle on how to process them, giving woodworkers, gamers, and knitters a puzzle to do, too.<br><br>**Changing winds:** Then, there’s the fact that tariff rates have been changing rapidly this year.<br><br>For example, Texas retiree Frank Vaughan wanted some [new sails](https://links.morningbrew.com/c/EYd?mblid=8c0643381eb3&mbnlid=R36XrCPyutGnJHi5mD6RJm) for his boat. According to the New York Times:<br><br>*   In February, a Chinese company he contacted wanted about $400 per sail.<br>*   A few weeks later, the price went up to $1,200 each.<br>*   An American company, which sourced its sailcloths from China, quoted him at about $800 per sail—but he would have to wait six to eight months.<br>*   He ended up buying used sails for $236 each.<br><br>**Big picture:** The new tariff reality is also affecting the platforms where hobbyists peddle their wares. Etsy and eBay have both warned investors that the end of de minimis could impact business.—_BC_ |\n|     |\n\n### E-COMMERCE\n\n## [Making money off of other people’s hobbies](https://links.morningbrew.com/c/EY6?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n[![Someone holding a phone and scrolling on Etsy.](https://morningbrew.com/cdn-cgi/image/width=1240,format=auto/https://storage.morningbrew.com/image/2025-09-19/image-531dddf69f92fc4c31115aaaed9764817c9a9446-5000x3333-jpg/Inthisphotoillustration,AwomanbrowsesEtsyonher...)](https://links.morningbrew.com/c/EY6?mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n_Sopa Images/Getty Images_\n\n|     |\n| --- |\n| It’s a good time to cash in on pastimes, especially for the online marketplaces keeping the whole ecosystem afloat. Companies like Etsy have made billions of dollars by helping creative entrepreneurs sell everything from soap dishes to flavored toothpicks.<br><br>**Whosits and whatsits galore:** Twenty years after being founded, Brooklyn-based Etsy is a $6 billion testament to the power of handmade goods. The company charges a fee to list on the site and then takes a cut of the final sale, whether it be a purse with a bird on it or a postmodern painting…with a bird on it.<br><br>According to Capital One Shopping data, in 2024, Etsy had:<br><br>*   More than $2.8 billion in annual [global revenue](https://links.morningbrew.com/c/EY7?mblid=b403ab12e494&mbnlid=R36XrCPyutGnJHi5mD6RJm).<br>*   95.5 million active buyers.<br>*   More than 8 million sellers—80% of whom are identified as women.<br><br>**Handmade-to-handmade combat:** It’s not just Etsy connecting artisans with buyers. Sites like eBay, Amazon Handmade, MakerPlace by Michaels, and Goimagine all offer sales opportunities for creative types.<br><br>## The AI of it all<br><br>As the competition heats up—and growth slows—Etsy and eBay have [turned to AI](https://links.morningbrew.com/c/EY8?mblid=327fdea8335a&mbnlid=R36XrCPyutGnJHi5mD6RJm) to keep their edge, the Wall Street Journal reported. Etsy is using large language models to juice its data collection efforts and improve product recommendations. And eBay has been using AI imagery to inspire more purchases. For example, if you buy a shirt, AI will generate images of pants, then link to similar items. Both marketplaces are using AI to make it easier to browse through their vast artisan inventories.<br><br>**And it’s not just to make it easier to buy:** The companies also created AI tools to help sellers cut down on repetitive tasks, like answering buyers’ questions, so the creators will have more time to actually create things (that can be sold on Etsy and eBay).—_BC_ |\n|     |\n\n### Together With Pendulum\n\n[](https://links.morningbrew.com/c/EWx?lp=image&mbadid=dd0cba4ef57d901f30acf27d05e6f3ff&mbadv=a&mbnlid=R36XrCPyutGnJHi5mD6RJm)\n\n**Fire up your metabolism.** Protect your gut barrier and give your GLP-1 a natural boost\\* with [Pendulum Akkermansia](https://links.morningbrew.com/c/EWx?lp=text1&mbadid=dd0cba4ef57d901f30acf27d05e6f3ff&mbadv=a&mblid=d3557bf912b3&mbnlid=R36XrCPyutGnJHi5mD6RJm). Pendulum Akkermansia features live _Akkermansia muciniphila_, a breakthrough strain that helps fortify the gut barrier, support balanced digestion, and improve metabolism.\\* [Check it out](https://links.morningbrew.com/c/EWx?lp=text2&mbadid=dd0cba4ef57d901f30acf27d05e6f3ff&mbadv=a&mblid=7f7e2eddb6f0&mbnlid=R36XrCPyutGnJHi5mD6RJm).\n\n### BREW'S BEST\n\n![To-do list banner](https://morningbrew.com/cdn-cgi/image/width=1240,format=auto/https://storage.morningbrew.com/image/2025-09-11/image-762cbc4c673b8613a0de1bf6711a4fc25276f7a4-1350x330-png/MB_todo_banner.png)\n\n![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) **Host:** A [must-have](https://links.morningbrew.com/c/EZK?mblid=73365708eaf6&mbnlid=R36XrCPyutGnJHi5mD6RJm) for any Halloween party.\\*\\*\n\n![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) **DIY:** Starter [kits](https://links.morningbrew.com/c/EZL?mblid=f63e281a9f3a&mbnlid=R36XrCPyutGnJHi5mD6RJm) for embroidery, rug-making, and other crafts.\n\n![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) **Watch:** How to become a [magician](https://links.morningbrew.com/c/EZM?mblid=9e9ef9fc4466&mbnlid=R36XrCPyutGnJHi5mD6RJm) in three weeks.\n\n![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) **Cook:** Peel your ginger with a spoon, and 23 other [kitchen](https://links.morningbrew.com/c/EZN?mblid=a65fb70da36b&mbnlid=R36XrCPyutGnJHi5mD6RJm) tricks.\n\n![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) **Grow:** Plot the [garden](https://links.morningbrew.com/c/EZN?mblid=ce20538b52c2&mbnlid=R36XrCPyutGnJHi5mD6RJm) of your dreams with a drag-and-drop visualizer.\n\n![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) **Browse:** Redditors’ [favorite hobbies](https://links.morningbrew.com/c/EZO?mblid=473169aa12e4&mbnlid=R36XrCPyutGnJHi5mD6RJm).\n\n **![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) No interest until ’27:** Your side hustle can be just your hobby again with a [0% intro APR card](https://links.morningbrew.com/c/EWt?mblid=f05415bbe647&mbnlid=R36XrCPyutGnJHi5mD6RJm). FinanceBuzz’s credit card experts found top options to help you [ditch high interest](https://links.morningbrew.com/c/EWt?mblid=ddfce025e74b&mbnlid=R36XrCPyutGnJHi5mD6RJm).\\*\n\n![](https://em-content.zobj.net/thumbs/120/apple/237/white-heavy-check-mark_2705.png) **Financial flux:** MFS helps you make heads _and_ tails of the [shifting macroeconomic environment](https://links.morningbrew.com/c/EWu?mblid=5006e413b7aa&mbnlid=R36XrCPyutGnJHi5mD6RJm) of 2025.\\*\n\n_\\*A message from our sponsor. \\*\\*This is a product recommendation from our writers. When you buy through this link, Morning Brew may earn a commission._\n\n**✢ A Note From CIT Bank**\n\n1\\. Based on comparison to the national average Annual Percentage Yield (APY) on savings accounts as published in the FDIC National Rates and Rate Caps, accurate as of August 18, 2025.\n\n2\\. Platinum Savings is a tiered interest rate account. Interest is paid on the entire account balance based on the interest rate and APY in effect that day for the balance tier associated with the end-of-day account balance. APYs — Annual Percentage Yields are accurate as of June 12, 2025: 0.25% APY on balances of $0.01 to $4,999.99; 4.00% APY on balances of $5,000.00 or more. Interest Rates for the Platinum Savings account are variable and may change at any time without notice. The minimum to open a Platinum Savings account is $100.\n\n**✳︎ A Note From Pendulum**\n\n\\*Based on preclinical studies. Not intended for weight loss.",
          "debug": {
            "requestHandlerMode": "browser"
          }
        }
      }
    ],
    "Script Writer": [
      {
        "json": {
          "output": "\"In today's news, turning hobbies into businesses—who knew it could be so profitable? From clothing design success stories to the surge in upcycled fashion markets, creativity is cashing in. Meanwhile, the rise of public hobbyists on social media is met with challenges in shipping logistics due to tariffs. Stay tuned as online marketplaces leverage AI to keep up the game!\""
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News": {
      "main": [
        [
          {
            "node": "Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer": {
      "main": [
        [
          {
            "node": "Generate Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 Seconds": {
      "main": [
        [
          {
            "node": "Get Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video1": {
      "main": [
        [
          {
            "node": "30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f54dde9-2da0-4f4a-9d21-0e28508ef353",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed3baaf95649d47ce5bcd0e82297dfacdd53f0fa69a234e63dd8757fa1d1bf11"
  },
  "id": "FC7ctB9MRiVPgFcs",
  "tags": []
}