Ooutput Parser - use case.json
{
  "name": "Ooutput Parser - use case",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -48
      ],
      "id": "64a9a840-8e57-4d30-8c87-b058ed4b0a29",
      "name": "When chat message received",
      "webhookId": "a8b9f98c-208e-4dc7-b692-96ef2afb6936"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -48
      ],
      "id": "5f74d9fd-2b4f-47ef-9ae3-38fd1057e4ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        128
      ],
      "id": "58da363e-f217-41e1-a2e3-fae79aff11dc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HmwA0TsYQhHnxwfk",
          "name": "OpenAi account - Ani"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.output.to }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        -48
      ],
      "id": "ac8e110a-af2a-4dc5-8d7c-6a805fe19337",
      "name": "Send a message",
      "webhookId": "6107a3d8-7e17-40e8-a524-1274820b1680",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPbEtXhvXVfLssIB",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"to\": \"example@email.com\",\n  \"subject\": \"Your Subject Here\",\n  \"body\": \"Your email content goes here...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        144
      ],
      "id": "21405774-1c88-44d8-853e-fbc5c1adad04",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d8339a0-eac3-4b36-8d49-b4b119b00322",
  "meta": {
    "instanceId": "ed3baaf95649d47ce5bcd0e82297dfacdd53f0fa69a234e63dd8757fa1d1bf11"
  },
  "id": "IbAK8V2yvkeypamF",
  "tags": [
    {
      "createdAt": "2025-09-16T04:40:13.487Z",
      "updatedAt": "2025-09-16T04:40:13.487Z",
      "id": "irECgiBrXL96hcIo",
      "name": "output parsing"
    }
  ]
}