SUB AGENT.json
{
  "name": "SUB AGENT",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        -48
      ],
      "id": "d1552eea-ba0c-47e1-aedf-e4726f48efba",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -256,
        -48
      ],
      "id": "ce129163-f156-4bc4-abc1-c6281cb3e245",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        192
      ],
      "id": "3ef5f993-b318-4456-bf9f-80d628761369",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Nu08f9R3JRLEZ6Al",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `always sign off emails as \"Anisha\" `, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -112,
        160
      ],
      "id": "aa614519-859f-4ca6-a196-a6b0effd1b14",
      "name": "Send a message in Gmail",
      "webhookId": "c466e0ac-a9a9-4c57-85b9-e8e33a2895be",
      "credentials": {
        "gmailOAuth2": {
          "id": "gPbEtXhvXVfLssIB",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Send an email to nate@exaple.com, asking what's up"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f15adbf-30f1-4753-94ea-75ae09a0f1b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed3baaf95649d47ce5bcd0e82297dfacdd53f0fa69a234e63dd8757fa1d1bf11"
  },
  "id": "QstvnRsiBcPcBrbA",
  "tags": [
    {
      "createdAt": "2025-09-15T03:27:46.941Z",
      "updatedAt": "2025-09-15T03:27:46.941Z",
      "id": "nCCYgzfuKoseMGrJ",
      "name": "SUB AGENT"
    }
  ]
}